{% extends "base_generic.html" %}

{% block content %}

<div class="'container"></div>
  <div class="col-md-10">
    <div class="card mb-10 shadow-sm">
      <div class="card-body">
        {% if crypto %}
          <p class="card-text"><h5>{{ crypto.name }}</h5> <h4>{{ crypto.symbol }}</h4></p>
          <p class="card-text"><h6>Price: {{ crypto.price }} USD</h6></p>
          <p class="card-text">Price change for the last 24H: <b>{{ crypto.percent_change_24h }}</b></p>
          <p class="card-text">Price change for the last 7D: <b>{{ crypto.percent_change_7d }}</b></p>
          <p class="card-text">Volume change for the last 24H: <b>{{ crypto.volume_24h }}</b></p>
          <p class="card-text">circulating supply: <b>{{ crypto.circulating_supply }}</b></p>
          {% if user.is_authenticated %}
            {% if user in crypto.favorite_by.all %}
              <a name="{{ crypto.id }}" style="font-size:48px;color: gold;" class="favorite" id="co"><i class="fa fa-star" aria-hidden="true"></i></a>
            {% else %}
              <a name="{{ crypto.id }}" style="font-size:48px;color: black;" class="favorite" id="co"><i class="fa fa-star" aria-hidden="true"></i></a>
            {% endif %}
          {% else %}
            <p class="card-text"><i>Login to add to favorites.</i></p>
          {% endif %}
        {% else %}
          <p class="card-text"><h2>404 cryptocurerency '{{ search_string }}' not found</h2></p>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
